


.hero{
  height:30vh;
  /* background-image: url(./assets/img/backgroung_react.png); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff; */

}


