
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hero{
  height: 85vh;
  background-image: url(./assets/img/backgroung_react.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;

}

.bg-nav{
 background-color: #212221;
}
